$black: black;
$dark: #333333;
$grey: rgb(226, 226, 226);
$white: white;
$blue: royalblue;
$skyBlue: rgb(206, 241, 255);
$red: red;
$yellow: yellow;

/*---------------------
  section title
  

---------------------*/
@mixin title() {
  h1 {
    display: inline-block;
    border-bottom: 3px solid $blue;
    margin-bottom: 1rem;
    margin-left: 10%;
    padding-right: 8rem;
    padding-left: 2rem;
    @include sm {
      padding-left: 0;
      padding-right: 6rem;
    }
  }
}

/*---------------------
  レスポンシブ
---------------------*/
$sm: 576px;
$md: 768px;
$lg: 900px;
$xl: 1200px;
$xxl: 1400px;
@mixin sm {
  @media screen and (max-width: $sm) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: $md) {
    @content;
  }
}
@mixin lg {
  @media screen and (max-width: $lg) {
    @content;
  }
}
@mixin xl {
  @media screen and (max-width: $xl) {
    @content;
  }
}
@mixin xxl {
  @media screen and (max-width: $xxl) {
    @content;
  }
}
