@use "./mixin" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  &:visited {
    color: $black;
  }
}

header {
  .spacer {
    height: 70px;
  }

  .inner-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .header-logo {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .sub-menu {
    @include lg {
      display: none;
    }

    ul {
      height: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a {
        color: $white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.6rem;
      }
    }
  }

  .main-menu {
    margin: 0 auto;
    max-width: 1000px;
    img {
      max-height: 50px;
    }
  }

  .hamburger-menu-btn {
    width: 30px;
    height: 15px;
    position: relative;
    z-index: 10;
    span {
      position: absolute;
      width: 1.7rem;
      height: 2px;
      background-color: $white;
      border-radius: 0.05rem;
      left: 0;
      transition: transform 0.3s;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:nth-child(3) {
        top: 100%;
      }
    }
    &.active {
      //ハンバーガーメニュークリック時に付与するクラス
      span {
        transition: transform 0.5s;
        &:nth-child(1) {
          top: 0;
          transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(2) {
          top: 50%;
          opacity: 0;
        }
        &:nth-child(3) {
          top: 100%;
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
  }

  .mobileNav {
    position: relative;
    .mobileMenu {
      position: fixed;
      top: 70px;
      right: 0;
      bottom: 0;
      z-index: 10;
      padding: 1rem 2rem;
      transform: translateX(80vw);
      transition: transform 0.7s;
      overflow-y: auto;
      background-color: white;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);

      a {
        width: 100%;
        margin: 0.5rem 0;
        text-align: center;
      }
      p {
        text-align: center;
      }
      &.toggleMenu {
        transform: translateX(0);
      }
      img {
        max-height: 50px;
      }

      .mobile-menu-icon {
        text-align: center;
      }
    }
  }
}

footer {
  background-color: $skyBlue;
  margin-top: 8rem;
  padding-top: 3rem;
  .inner-container {
    display: flex;
    justify-content: space-around;
    @include sm {
      flex-direction: column;
    }
    .logo {
      width: 20%;
      margin: 0 auto;
      @include md {
        width: 30%;
      }
      @include sm {
        width: 50%;
      }
    }

    ul.footer-content {
      width: 60%;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      @include sm {
        width: 70%;
      }

      li {
        width: calc(100% / 3);
        @include md {
          width: 50%;
        }
        @include sm {
          margin: 0 auto;
          width: 70%;
        }

        h4 {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  .copy-right {
    text-align: center;
    padding: 2rem 0;
    small {
    }
  }
}

/*-----
---トップページ-----
----*/

section.main-visual {
  .mySwiper {
    .swiper-slide {
      position: relative;
      //Swiperスライドの上に設置コンテンツ
      .swiper-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);

        .wrapper {
          @-webkit-keyframes lightSpeedInRight {
            from {
              -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
              transform: translate3d(100%, 0, 0) skewX(-30deg);
              opacity: 0;
            }
            60% {
              -webkit-transform: skewX(20deg);
              transform: skewX(20deg);
              opacity: 1;
            }
            80% {
              -webkit-transform: skewX(-5deg);
              transform: skewX(-5deg);
            }
            to {
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
            }
          }
          @keyframes lightSpeedInRight {
            from {
              -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
              transform: translate3d(100%, 0, 0) skewX(-30deg);
              opacity: 0;
            }
            60% {
              -webkit-transform: skewX(20deg);
              transform: skewX(20deg);
              opacity: 1;
            }
            80% {
              -webkit-transform: skewX(-5deg);
              transform: skewX(-5deg);
            }
            to {
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
            }
          }
          &.lightSpeedInRight {
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            animation: lightSpeedInRight 1s;
          }
        }

        h2 {
          margin-top: 3rem;
          font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
        }
        h1 {
          font-size: clamp(1.25rem, 0.614rem + 3.18vw, 3rem);
        }
      }
    }
    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
      vertical-align: bottom;
    }

    //   プログレスバー下に移動
    .swiper-pagination-progressbar {
      background: $white;
      top: auto;
      left: 20px;
      bottom: 20px;
      width: 30%;
      @include md {
        width: 50%;
      }

      .swiper-pagination-progressbar-fill {
        background-color: $blue;
      }
    }
  }
}

section.main-menu {
  ul {
    display: flex;
    list-style: none;
    @include md {
      flex-direction: column;
    }

    li {
      width: calc(100% / 3);
      position: relative;
      overflow: hidden;

      // liをホバーしたら、展開式テーブルのアニメーションを実行
      &:hover {
        & > .menu p {
          transform: translateX(-50%) translateY(-50px);
        }
        & > .table {
          animation: upView 0.5s ease forwards;
          @include md {
            animation: none;
          }
        }
      }
      @include md {
        width: 100%;
        &:hover {
          & > .menu p {
            transform: translateX(-50%);
          }
        }
      }

      // メニューボタン
      .menu {
        text-align: center;
        color: $white;
        font-size: 1.2rem;
        font-weight: bold;
        position: relative;
        .img {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $blue;
            opacity: 0.3;
            @include md {
              opacity: 0;
            }
          }
          &:hover {
            &::after {
              background: $black;
              opacity: 0.5;
              @include md {
                opacity: 0;
              }
            }
          }
          img {
            width: 100%;
            vertical-align: bottom;
            @include md {
              height: 300px;
              object-fit: cover;
            }
          }
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.4s;
          text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
        }
      }

      // 展開式テーブルメニュー
      .table {
        position: absolute;
        bottom: -100px;
        left: 0;
        color: $white;
        background: $blue;
        width: 100%;
        height: 100px;
        display: table;
        table-layout: fixed;
        border-collapse: collapse;

        // レスポンシブで常時展開に切り替え
        @include md {
          position: static;
        }

        // 親要素のliをホバーした際に起動するアニメーション
        @keyframes upView {
          0% {
            bottom: -100px;
          }
          100% {
            transform: translateY(-100px);
            z-index: 10;
          }
        }

        .row {
          display: table-row;
        }
        .cell {
          display: table-cell;
          border: $grey 1px solid;
          padding: 10px;
          vertical-align: middle;
          text-align: center;
          font-size: 0.8rem;
        }

        a {
          color: $white;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

section#congestion {
  background-color: $skyBlue;
  padding: 5rem 0;
  h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
  }

  .congestion-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include md {
      flex-direction: column;
      gap: 8rem;
    }

    .left-column {
      width: 40%;
      @include lg {
        width: 50%;
      }
      @include md {
        width: 100%;
      }
      h2 {
        text-align: center;
        color: $blue;
      }

      ul.inner-container {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;
        padding: 0 5%;
        @include sm {
          flex-direction: column;
        }

        li.card {
          width: 40%;
          text-align: center;
          @include sm {
            width: 80%;
            margin: 0 auto;
          }
          h3 {
            margin: 0.5rem 0;
            font-weight: normal;
            font-size: 1rem;
          }
          .card-content {
            display: flex;
            align-content: center;
            justify-content: center;
            max-width: 300px;
          }
          .card-icon {
            width: 50%;
            display: flex;
            align-items: center;

            svg {
              width: 100%;
              // height: 100%;
              height: 35px;

              & > * {
                width: 100%;
                color: $dark;
              }
            }
          }
          p.card-status {
            width: 50%;
            padding: 0.7rem 0 0.7rem 0;
            background-color: $white;
          }
        }
      }

      .btn-container {
        margin: 2rem 0;
        text-align: center;
      }
    }
    .right-column {
      width: 40%;
      @include lg {
        width: 50%;
      }
      @include md {
        width: 100%;
      }
      h2 {
        text-align: center;
        color: $blue;
      }

      ul.inner-container {
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2rem;
        padding: 0 5%;

        li.card {
          width: calc(100% / 3);
          padding: 0 1.5rem;
          h3 {
            margin: 0.5rem 0;
            text-align: center;
            font-weight: normal;
            font-size: 1rem;
          }
          p.card-status {
            background-color: $white;
            padding: 0.7rem 0 0.7rem 0;
            text-align: center;

            &.bg-red {
              background-color: $red;
              color: $white;
            }
            &.bg-yellow {
              background-color: $yellow;
            }
          }
        }
      }

      .btn-container {
        margin: 2rem 0;
        text-align: center;
      }
    }
  }
}

section#news {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 8rem;
  @include title;

  .inner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include md {
      flex-direction: column;
      gap: 3rem;
    }

    .left-column {
      width: 50%;
      list-style: none;
      font-size: 0.8rem;
      @include md {
        width: 80%;
      }

      table {
        width: 100%;
        tbody {
          tr {
            display: flex;
            gap: 1.5rem;
            padding-left: 1rem;
            @include sm {
              flex-direction: column;
              gap: 0;
              padding-bottom: 1rem;
            }

            &.bg-blue {
              background-color: $skyBlue;
            }
            &:nth-child(odd) {
              padding-top: 1rem;
            }
            &:nth-child(even) {
              padding-bottom: 1rem;
            }
            td {
              &.category {
                display: flex;
                align-items: center;

                img {
                  height: 1rem;
                }
              }
            }
          }
        }
      }
      .btn-container {
        margin: 2rem 0;
        text-align: center;
      }
    }
    .right-column {
      width: 40%;
      text-align: center;
      @include md {
        width: 80%;
      }
    }
  }
}

section#topics {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 8rem;
  @include title;

  .img-container {
    display: flex;
    justify-content: center;
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .img {
      padding: 0 2rem;
    }
  }
}

/*-----
---フライトページ-----
----*/

section#flight-main-visual {
  height: 350px;
  background-image: url(../public/images/flight-main-visual.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;

  .text-content {
    padding: 5% 0 0 8%;
    h1 {
      font-size: clamp(1.25rem, 0.614rem + 3.18vw, 3rem);
    }
    h4 {
      font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
    }
  }
}

section#flight-infomation {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 1400px;
  h1 {
    text-align: center;
  }

  .flight-search-container {
    background-color: $dark;
    color: $white;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;

    h2 {
      margin-left: 3rem;
      padding-top: 1rem;
    }

    .search-container {
      padding: 3rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      @include sm {
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  .result-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    @include sm {
      font-size: 0.6rem;
      width: 95%;
    }

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0px 1rem;

      thead {
        tr {
          color: $white;
          border: none;

          th {
            background-color: $blue;
            padding: 1rem 2rem;
            text-align: left;
            &:nth-child(1) {
              border-radius: 1rem 0 0 1rem;
            }
            &:nth-child(3) {
              border-radius: 0 1rem 1rem 0;
            }
          }
        }
      }
      tbody {
        width: 100%;
        tr {
          padding: 1rem;
          height: 50px;
          animation: resultAnimation 1s forwards ease;
          @keyframes resultAnimation {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          td {
            background-color: $grey;
            padding-left: 2rem;
            &:nth-child(1) {
              border-radius: 1rem 0 0 1rem;
            }
            &:nth-child(3) {
              border-radius: 0 1rem 1rem 0;
            }
          }
        }

        &.maxvisible-7 {
          tr {
            display: none;

            &:nth-child(-n + 5) {
              display: table-row;
            }
          }
        }
      }
    }

    .max-visible-button {
      background-color: $blue;
      color: $white;
      border: none;
      padding: 1rem 2rem;
      display: block;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
